.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.guitar{width:470px;height:192px;background-color:#825d00;margin:50px Auto;text-align:center;}
.boxes{position:relative;top:-193px;left:-68px;width:575px;margin-bottom:-193px;}
.fret{border:solid transparent 1px;height:30px;width:65px;float:left;}
.fret:hover{background-color:rgba(255,255,255,0.5);cursor:pointer;}
.circle{color:white;background-color:green;border-radius:50%;margin:0 auto;line-height:1.6;font-size:1.1em;width:30px;top:3px;position:relative;box-shadow:2px 2px 2px #333;text-shadow:1px 1px 1px #333;}


.str-graphic{border-top:solid 1px #f2ca4d;border-bottom:solid 1px #d1ab32;width:100%;margin-top:30px;position:relative;top:16px;box-shadow:2px 2px 2px #333;}
.fret-graphic{position:relative;top:-0px;border-left:#555 solid 3px;border-right:#333 2px solid;margin-right:61px;height:192px;float:left;border-radius:5px;}
.graphics::after{clear:both;display:block;content:'';}

.chord_name h3{font-size:2em;padding-top:0;width:470px;margin:0 auto;position:relative;top:-150px;z-index:-1;}
