 @import url('https://fonts.googleapis.com/css?family=Oranienbaum|Scheherazade');


html, body{height:100%;position:relative;}

.App {
	background-color:#f5f5f5;
	height:100%;
	overflow-x:hidden;
	color:#3f3316;
}


.App-header {
	background-image:url('./header-img.jpg');
	background-repeat:no-repeat;
	background-position:center;
	height:200px;
    text-align:left;
    color: white;
    margin:0 auto;
}

.App-header img{
    float:left;
    padding:10px 0px;
}

.App-title {
    margin:0;
    padding:85px 0 0 60px;
    font-size: 8.5em;
	text-shadow:3px 3px 3px #333;
    line-height:0.4;
    font-family: 'Scheherazade', serif;
}
.App-titletwo {
    margin:0;
	color:white;
    padding:10px 0 0 150px;
    font-size: 2.4em;
	text-shadow:3px 3px 3px #333;
    line-height:1;
    font-family: 'Scheherazade', serif;
}


.App-intro {
  font-size: large;
}
.container-lrg{
    width:1050px;
    margin:0 auto;
    position:relative;
}
.App-body{
    background-color:#fff;
    width:970px;margin:0 auto;
    padding:40px;
    margin-top:20px;
	height:500px;
}

.container{
    max-width:780px;
    margin:0 auto;
    position:relative;
	
}

.row{display:block;}

.column-4{
    width:40%;
    float:left;
    display:block;
    position:relative;
}
.column-6{
    width:60%;
    float:left;
    display:block;
    position:relative;
}

.chord-info{
    position:relative;
    z-index:1;
    margin-bottom:-100px;
    height:230px;
}

.guitar{
    width:775px;
    height:192px;
    background-color:#825d00;
    margin:50px Auto;
    text-align:center;
    border-left:solid 5px black;
	position:relative;
}
.boxes{
    position:absolute;
    top:0;
    left:-60px;
    width:798px;
    margin-bottom:-0;
    z-index:2;
}

.fret{
    border:solid transparent 1px;
    height:30px;
    width:55px;
    float:left;
}
.fret:hover{
    background-color:rgba(255,255,255,0.5);
    cursor:pointer;
}
.circle{
    color:white;
    background-color:green;
    border-radius:50%;
    margin:0 auto;
    line-height:1.6;
    font-size:1.1em;
    width:30px;
    top:3px;
    position:relative;
    box-shadow:2px 2px 2px #333;
    text-shadow:1px 1px 1px #333;
}

.graphics{
	position:relative;
}

.str-graphic{
    border-top:solid 1px #f2ca4d;
    border-bottom:solid 1px #d1ab32;
    width:100%;
    margin-top:30px;
    position:relative;
    top:16px;
    box-shadow:2px 2px 2px #333;
}
.fret-dot{
	position:absolute;
	border-radius:50%;
	background-color:#96896a;
	width:20px;
	height:20px;
	content:'';
	display:block;
}

#third{
	top:88px;
	left:130px;
}
#fifth{
	top:88px;
	left:243px;
}
#seventh{
	top:88px;
	left:358px;
}
#ninth{
	top:88px;
	left:473px;
}
#twelve-one{
	top:23px;
	left:644px;
}
#twelve-two{
	top:152px;
	left:644px;
}
.fret-graphic{
    position:relative;
    top:-0px;
    border-left:#555 solid 3px;
    border-right:#333 2px solid;
    margin-left:52px;
    height:192px;
    float:left;
    border-radius:5px;
}
.graphics::after{clear:both;display:block;content:'';}

.chord_name{
	text-align:left;
}
.chord_name h4{font-family: 'Scheherazade', serif;font-size:1.4em;margin-top:10px;margin-bottom:3px;}
.chord_name h3{
	font-family: 'Scheherazade', serif;
	font-weight:300;
	font-size:3.4em;
	padding-top:0;
	margin:0 auto;
	z-index:-1;
}
.chord_name h3 span{
	font-family: 'Scheherazade', serif;
	font-weight:300;
	font-size:2em;
}

.intervals{
	font-family: 'Scheherazade', serif;
	font-size:1.4em;
}
.intervals h4{
    margin-top:10px;
    margin-bottom:3px;
}
.intervals table{
    border:solid 1px #927226;
    width:100%;
    border-collapse:collapse;
	text-align:center;
}
.intervals table td{
    border:solid 1px #444;
    width:7.7%;
    padding:1px 5px;
}
.intervals table tr:first-child td{
	background-color:#469046;
	color:#fff;
	text-shadow:1px 1px 1px #555;
	font-weight:600;
}
.intervals table tr:last-child td{
	background-color:#d3e3d3;
}

.footer{
	padding:20px 0;
}
.footer p{
	text-align:center;
}
